*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#page1{
    width:100%;
    height:100%;
    background-color: black;
}
#page2{
    width:100%;
    height:100%;
    background-color: rgb(92, 125, 165);
}
#page3{
    width:100%;
    height:100%;
    background-color: black;
}
#page2 h1{
    font-size: 40vw;
}